.hero {
  padding: 30px 0;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 100px;
    text-align: center;
    background-color: $cl-bg-main;
    border-radius: 10px;
    box-shadow: 30px 30px 40px 20px rgba($color: #000000, $alpha: 0.1),
      -30px 30px 40px 20px rgba($color: #000000, $alpha: 0.1);

    &::before {
      content: '';
      position: absolute;
      top: 75px;
      width: 102%;
      height: 95%;
      background-color: gray;
      opacity: 0.03;
      left: -40px;
      z-index: -1;
      border-radius: 8px;
    }
  }

  &__img {
    max-width: 500px;
    width: 100%;
  }

  &__title {
    width: 100%;
    margin: 0 0 10px;
    font-size: 30px;
    text-align: center;

    &--offset {
      margin-bottom: 20px;
    }
  }

  &__aftertitle {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }

  &__bottom {
    display: flex;
    gap: 50px;
    max-width: 450px;
    overflow: hidden;
  }

  &__form {
    &--reset-psw {
      transform: translateX(-150%);
    }
    &--login {
      transform: translateX(-110%);
    }
  }

  &__btns-wrapper {
    overflow: hidden;
    height: 22px;
  }

  &__btns-list {
    transition: transform $form-transition;
  }
}
