.profile {
  // .profile__head

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    padding: 30px 0;
    animation: scale 1.2s alternate;
  }

  // .profile__img

  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    padding: 5px;
    border: 7px solid $cl-accent;
    border-radius: 50%;
    overflow: hidden;

    span {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: contain;
      pointer-events: none;
      border-radius: 50%;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  &__input-file {
    display: none;
  }

  &__add-img-icon {
    font-size: 60px;
    color: $cl-accent;
    opacity: 0;
    transition: opacity $transition;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  // .profile__title

  &__name {
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    line-height: 115.688%;
    letter-spacing: 0.7px;
    color: $cl-dark;
  }

  &__nickname {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 115.688%;
    letter-spacing: 0.5px;
    color: $cl-accent;
  }

  &__body {
    min-height: 50%;
    padding: 30px 20px;
    background-color: $cl-light;
    border-radius: 20px;
  }

  &__body-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    line-height: 115.688%;
    letter-spacing: 1.08px;
    color: $cl-dark;
    opacity: 0.75;
  }
}
