<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../sass/profile.scss" />
    <title>Profile</title>
  </head>
  <body>
    <main>
      <section class="profile">
        <div class="container">
          <include src="partials/components/profile-head.html"></include>
          <!-- <include src="partials/components/profile-body.html"></include> -->
        </div>
      </section>
    </main>
  </body>
</html>
