@import './variables';
@import './reset';

@import './components/container';
@import './components/buttons';

body {
  height: 100dvh;
  font-family: $ff-main;
  color: $cl-dark;
  background: $gradient-main no-repeat;
}
