.is-visible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
}

.append-animation {
  animation: append-animate 0.5s linear;
}

.scale-out {
  transform: scale(0.6);
}

.reg-visible {
  transform: translateY(-35%);
}

.back-to-login-visible {
  transform: translateY(0%);
}

.login-visible {
  transform: translateY(-70%);
}

.slide-left {
  transform: translateX(-220%);
}

.slide-right {
  transform: translateX(150%);
}

.slide-bottom {
  transform: translateX(0%);
}

.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: scale(1.1);
}
