.is-visible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
}

.signInViaEmailFormhighlight-font {
  color: red;
}

.append-animation {
  animation: append-animate 0.5s linear;
}

.scale-out {
  transform: scale(0.6);
}

.slide-left {
  transform: translateX(-120%);
}

.slide-top {
  transform: translateY(-100%);
}
