<form action="#" id="loginForm" class="form login-form intro__form">
  <strong class="form__title form__title--offset-bt login-form__title"
    >Welcome back to OUR REMINDER</strong
  >
  <input
    id="loginFormEmail"
    class="form__input login-form__input"
    type="email"
    name="userEmail"
    placeholder="Enter your email"
    required
  />
  <input
    id="loginFormPassword"
    class="form__input login-form__input"
    type="password"
    name="userPassword"
    placeholder="Enter password"
    required
  />
  <a class="form__forgot-password-link" href="#">Forgot password?</a>
  <button
    id="logInFormBtn"
    class="button form__button form__button--offsetY login-form__button"
  >
    Log in
  </button>
</form>
