<form id="logInForm" class="form login-form hero__form hero__form--login">
  <strong class="form__title form__title--offset-bt login-form__title"
    >Welcome back to OUR REMINDER</strong
  >
  <label class="form__group">
    <input
      id="logInFormEmail"
      class="form__input login-form__input"
      type="email"
      name="email"
      placeholder="Enter your email"
      required
    />
    <span id="logInEmailError" class="log-email-err"></span>
  </label>
  <label class="form__group">
    <input
      id="logInFormPsw"
      class="form__input login-form__input"
      type="password"
      name="password"
      placeholder="Enter password"
      required
    />
    <span id="logInPswError" class="log-psw-err"></span>
  </label>
  <button id="forgotPswBtn" class="form__forgot-psw-btn" type="button">
    Forgot password?
  </button>
  <button id="logInFormBtn" class="btn form__btn form__btn--login">
    Log in
  </button>
</form>
