<form action="#" id="registerForm" class="form register-form intro__form">
  <strong class="form__title register-form__title"
    >Get’s things done with TODO</strong
  >
  <p class="form__aftertitle register-form__aftertitle">
    Let’s help you meet up your tasks
  </p>
  <input
    id="registerFormUserName"
    class="form__input register-form__input"
    type="text"
    name="userName"
    placeholder="Enter your full name"
    required
  />
  <input
    id="registerFormEmail"
    class="form__input register-form__input"
    type="text"
    name="userEmail"
    placeholder="Enter your email"
    required
  />
  <input
    id="registerFormPassword"
    class="form__input register-form__input"
    type="password"
    name="userPassword"
    placeholder="Enter password"
    required
  />
  <input
    id="registerFormConfirmPassword"
    class="form__input register-form__input"
    type="password"
    name="userConfirmPassword"
    placeholder="Confirm password"
    required
  />
  <button
    id="registerFormBtn"
    class="button form__button register-form__button"
  >
    Register
  </button>
</form>
