<form id="regForm" class="form reg-form hero__form hero__form--register">
  <strong class="form__title reg-form__title"
    >Get’s things done with TODO</strong
  >
  <p class="form__aftertitle reg-form__aftertitle">
    Let’s help you meet up your tasks
  </p>
  <!-- <label class="form__group">
    <input
      id="regFormUserName"
      class="form__input reg-form__input"
      type="text"
      name="reg-username"
      placeholder="Enter your full name"
      required
    />
    <span id="regNameErr" class="reg-name-err"></span>
  </label> -->
  <label class="form__group">
    <input
      id="regFormEmail"
      class="form__input reg-form__input"
      type="text"
      name="email"
      placeholder="Enter your email"
      required
    />
    <span id="regEmailErr" class="reg-email-err "></span>
  </label>
  <label class="form__group">
    <input
      id="regFormPsw"
      class="form__input reg-form__input"
      type="password"
      name="password"
      placeholder="Enter password"
      required
    />
    <span id="regPswErr" class="reg-psw-err"> </span>
  </label>
  <label class="form__group">
    <input
      id="regFormConfirmPsw"
      class="form__input reg-form__input"
      type="password"
      name="confirmPsw"
      placeholder="Confirm password"
      required
    />
    <span id="regConfirmPswErr" class="reg-confirm-psw-err "> </span>
  </label>
  <button id="regFormBtn" class="btn form__btn form__btn--reg">Register</button>
</form>
