<div id="resetPswWrap" class="reset-psw">
  <form
    id="resetPswForm"
    class="form reset-psw__form hero__form hero__form--reset-psw"
  >
    <strong class="reset-psw__title form__title form__title--offset-bt"
      >Enter your email:</strong
    >
    <div>
      <input
        class="form__input"
        type="email"
        name="email"
        placeholder="example@mail.com"
        required
      />
      <span id="resetPswErr" class="reset-psw__err"></span>
    </div>
    <button class="btn form__btn">Send</button>
  </form>
</div>
