<form action="#" id="signUpForm" class="form signup-form intro__form">
  <strong class="form__title signup-form__title"
    >Get’s things done with TODO</strong
  >
  <p class="form__aftertitle signup-form__aftertitle">
    Let’s help you meet up your tasks
  </p>
  <input
    id="signUpUserName"
    class="form__input signup-form__input"
    type="text"
    name="userName"
    placeholder="Enter your full name"
    required
  />
  <input
    id="signUpEmail"
    class="form__input signup-form__input"
    type="text"
    name="userEmail"
    placeholder="Enter your email"
    required
  />
  <input
    id="signUpPassword"
    class="form__input signup-form__input"
    type="password"
    name="userPassword"
    placeholder="Enter password"
    required
  />
  <input
    id="signUpConfirmPassword"
    class="form__input signup-form__input"
    type="password"
    name="userConfirmPassword"
    placeholder="Confirm password"
    required
  />
  <button id="registerBtn" class="button form__button register-form__button">
    Register
  </button>
  <p class="">
    Already have an account ?
    <button id="logInBtn" class="login-button" type="button">Log in</button>
  </p>
</form>
