<form
  id="signInForm"
  class="form signin-form intro__form is-visible"
  action="#"
>
  <strong class="form__title form__title--offset signin-form__title"
    >Welcome back to OUR REMINDER</strong
  >
  <input
    id="signInEmail"
    class="form__input signin-form__input"
    type="email"
    name="userEmail"
    placeholder="Enter your email"
    required
  />
  <input
    id="signInPassword"
    class="form__input signin-form__input"
    type="password"
    name="userPassword"
    placeholder="Enter password"
    required
  />
  <a class="form__forgot-password-link" href="#">Forgot password?</a>
  <button
    id="signInBtn"
    class="button form__button form__button--offsetY signin-form__button"
  >
    Sign in
  </button>
  <p>
    Don't have an account ?
    <button id="signUpBtn" class="signup-button" type="button">Sign up</button>
  </p>
</form>
