<form class="form signup-form" action="#">
  <strong class="form__title signup-form__title"
    >Get’s things done with TODO</strong
  >
  <p class="form__aftertitle signup-form__aftertitle">
    Let’s help you meet up your tasks
  </p>
  <input
    type="text"
    class="form__input signup-form__input"
    placeholder="Enter your full name"
  />
  <input
    type="text"
    class="form__input signup-form__input"
    placeholder="Enter your email"
    pattern="^[A-Za-z\u0080-\uFFFF ']+$"
  />
  <input
    class="form__input signup-form__input"
    type="password"
    placeholder="Enter password"
  />
  <input
    class="form__input signup-form__input"
    type="password"
    placeholder="Confirm password"
  />
  <button class="button form__button signup-form__button">Register</button>
  <p>Already have an account ? <button>Sign In</button></p>
</form>
