.forms-wrapper {
  display: flex;
  gap: 100px;
  max-width: 450px;
  width: 100%;
  overflow: hidden;
}

.form {
  right: 50px;
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 0 10px;
  visibility: visible;
  pointer-events: all;
  transition: transform 0.5s ease-in-out;

  &__title {
    opacity: 0.8;
    font-size: 33px;
    &--offset-bt {
      margin-bottom: 40px;
    }
  }

  &__aftertitle {
    margin-bottom: 40px;
  }

  // .form__input

  &__input {
    width: 420px;
    height: 50px;
    padding: 15px 20px;
    background: $cl-light;
    border-radius: 22px;
    border: 0;
    outline: transparent;
    transition: box-shadow 0.2s ease;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &:focus {
      box-shadow: -3px 3px 5px $cl-light, 3px -3px 3px $cl-light,
        3px 3px 3px $cl-light, -3px -3px 3px $cl-light;
    }
  }

  &__forgot-password-link {
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    padding-left: 20px;
    text-align-last: left;
    opacity: 0.6;
  }

  &__button {
    margin-top: 20px;
    margin-bottom: 10px;

    &--offsetY {
      margin-top: 20px;
    }
  }
}
