.form {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  visibility: visible;
  pointer-events: all;
  transition: transform $form-transition, opacity $form-transition;

  &__title {
    opacity: 0.8;
    font-size: 33px;

    &--offset-bt {
      margin-bottom: 30px;
    }
  }

  &__aftertitle {
    margin-bottom: 40px;
  }

  &__group {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 25px;
    }
  }

  // .form__input

  &__input {
    width: 420px;
    height: 50px;
    padding: 15px 20px;
    background: $cl-light;
    border-radius: 22px;
    border: 0;
    outline: transparent;
    transition: box-shadow 0.2s ease;

    &:focus {
      box-shadow: -3px 3px 5px $cl-light, 3px -3px 3px $cl-light,
        3px 3px 3px $cl-light, -3px -3px 3px $cl-light;
    }
  }

  &__forgot-psw-btn {
    position: relative;
    width: 160px;
    margin-top: 10px;
    margin-left: auto;
    font-size: 15px;
    opacity: 0.8;
    color: black;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: color $transition;

    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 5px;
      height: 1px;
      width: 0;
      background-color: $cl-dark;
      opacity: 0.4;
      transition: width $transition;
    }

    &:hover::after,
    &:focus::after {
      width: 90%;
    }
  }

  &__btn {
    margin-top: 20px;
    margin-bottom: 10px;
    &--reg {
      margin-top: 25px;
    }
    &--login {
      margin-top: 25px;
    }
  }
}
